{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 150,
    "tabWidth": 4,
    "endOfLine": "auto",
    "bracketSpacing": true,
    "useTabs": false,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "overrides": [
      {
        "files": "*.scss",
        "options": {
          "singleQuote": false
        }
      },  {
        "files": "*.html",
        "options": {
          "printWidth": 150,
          "parser": "angular"
        }
      }
    ]
  }