/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html {
    color-scheme: light;
    @include mat.theme(
        (
            color: (
                primary: mat.$blue-palette,
                tertiary: mat.$red-palette
            ),
            typography: Roboto,
            density: 0
        )
    );
}

.dark-theme {
    color-scheme: dark;
}

.mat-mdc-raised-button {
    @include mat.button-overrides(
        (
            protected-container-color: #3d5afe,
            protected-label-text-color: white,
            protected-label-text-size: 1.3rem,
            protected-container-shape: 10px,
            protected-container-height: 48px,
        )
    );
}

.dark-theme .mat-mdc-raised-button {
    @include mat.button-overrides(
        (
            protected-container-color: #182465,
            protected-label-text-color: #e5e1e6
        )
    )
}

.mat-mdc-outlined-button {
    @include mat.button-overrides(
        (
            outlined-outline-color: var(--mat-sys-outline-variant),
            outlined-container-shape: 10px
        )
    );
}

.dark-theme .mat-mdc-outlined-button {
    @include mat.button-overrides(
        (
            outlined-outline-color: var(--mat-sys-outline-variant)
        )
    );
}

.btn-accent,
.dark-theme .btn-accent {
    @include mat.button-overrides(
        (
            outlined-label-text-color: #ff4081
        )
    );
}

body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
